# Dependencies
node_modules
npm-debug.log

# Build files
build
.dockerignore
Dockerfile

# Git files
.git
.gitignore

# Development files
.env.local
.env.development.local
.env.test.local
.env.production.local
.idea
.vscode
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db